/* src/styles.module.css */

.body {
  width: 100vw;
  min-height: 100vh; /* Utilisez min-height au lieu de height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow-y: auto; /* Permettre le défilement si le contenu dépasse */
}

body {
  overflow-y: auto; /* Activer le défilement vertical */
}



.background {
  /* Configuration de l'image d'arrière-plan */
  background-size: cover; /* Couvre tout l'écran sans déformation */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  
  /* Assurez-vous que l'image d'arrière-plan est derrière tout le contenu */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Optionnel : Ajouter une superposition pour améliorer la lisibilité du texte */
  background-color: rgba(0, 0, 0, 0.5); /* Superposition noire semi-transparente */
  background-blend-mode: multiply;
  z-index: -1;
}

.logo {
  width: 300px; /* Ajustez la taille selon vos besoins */
  height: auto;
  display: block;
  margin: 0 auto; /* Centre horizontalement et ajoute une marge inférieure */
}

.body > * {
  position: relative;
  z-index: 1;
}

.buttons {
  display: flex;
  gap: 10px; /* Espace entre les boutons */
  margin-top: 20px; /* Optionnel : Espace entre les boutons et le logo */
}

/* Conteneur des sets en grille */
.sets-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 sets par ligne */
  gap: 20px; /* Espacement entre les sets */
  padding: 20px;
}

.set {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 350px; /* Hauteur fixe pour tous les sets */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.setLogo {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cartes par ligne */
  gap: 20px;
  padding: 20px;
  margin-bottom: 40px; /* Ajoutez une marge pour garantir l'espace en bas */
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cardImage {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}



.pagination {
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 1; /* Assurez-vous que les boutons de pagination sont devant */
  padding-bottom: 20px; /* Ajoutez un espace en bas pour la pagination */
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
}




